* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background: #fff;
}


.search-screen {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, #4facfe, #00f2fe);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sky {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.cloud {
  position: absolute;
  width: 180px;
  height: 60px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 50px;
  animation: moveClouds 60s linear infinite;
}

.cloud::before,
.cloud::after {
  content: "";
  position: absolute;
  background: inherit;
  width: 80px;
  height: 80px;
  top: -30px;
  border-radius: 50%;
}

.cloud::before { left: 20px; }
.cloud::after { right: 20px; }

.cloud1 { top: 25%; animation-duration: 70s; }
.cloud2 { top: 45%; width: 220px; opacity: 0.7; animation-duration: 90s; }
.cloud3 { top: 65%; width: 150px; opacity: 0.6; animation-duration: 60s; }

@keyframes moveClouds {
  from { left: -250px; }
  to { left: 110%; }
}


.search-box {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.25);
  text-align: center;
}

.search-box h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.search-box input {
  width: 320px;
  padding: 12px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-box button {
  margin-top: 15px;
  padding: 12px 30px;
  border-radius: 25px;
  border: none;
  background: #1a73e8;
  color: white;
  font-size: 16px;
  cursor: pointer;
}


.weather-screen {
  padding: 30px;
}

.hidden {
  display: none;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.left img {
  width: 90px;
}

.tabs {
  display: flex;
  gap: 30px;
  margin: 25px 0;
  border-bottom: 2px solid #eee;
}

.tabs span {
  cursor: pointer;
  padding-bottom: 8px;
}

.tabs .active {
  border-bottom: 3px solid #fbbc04;
  font-weight: bold;
}

.graph {
  height: 160px;
  background: #fff4cc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.forecast {
  display: flex;
  justify-content: space-between;
}

.day {
  text-align: center;
}

.day img {
  width: 50px;
}
